*{
    margin: 0;
    padding: 0; 
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
}

footer{
    width:100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #EC0101;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    height: 80px;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.social-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icons{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

#IG:hover{
    background-color: #dd2a7b;
    transform: scale(1.3);
    transition: 0.5s;
}

#FB:hover{
    background-color: #29487d;
    transform: scale(1.3);
    transition: 0.5s;
}

#TW:hover{
    background-color: #00acee;
    transform: scale(1.3);
    transition: 0.5s;
}

#WP:hover{
    background-color: #25d366;
    transform: scale(1.3);
    transition: 0.5s;
}
